* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_36 {
  width: 702px;
  height: 723px;
  background: url("../images/v2_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_35 {
  width: 702px;
  height: 718px;
  background: url("../images/v2_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_34 {
  width: 702px;
  height: 718px;
  background: url("../images/v2_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v2_3 {
  width: 702px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: fixed;
  color: white;

  top: 0px;
  left: 8px;
  overflow: hidden;
}

.v2_4 {
  
  width: 242px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}





.v2_12 {
  width: 217px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v2_15 {
  width: 217px;
  height: 37px;
  background: rgba(27,19,73,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v2_17 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 56px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_13 {
  width: 217px;
  height: 37px;
  background: rgba(27,19,73,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 243px;
  overflow: hidden;
}
.v2_14 {
  width: 217px;
  height: 37px;
  background: rgba(27,19,73,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 485px;
  overflow: hidden;
}
.v2_18 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 285px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_19 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 557px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_21 {
  width: 217px;
  height: 404px;
  background: rgba(67,81,116,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v2_22 {
  width: 217px;
  height: 404px;
  background: rgba(67,81,116,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 243px;
  overflow: hidden;
}
.v2_23 {
  width: 217px;
  height: 404px;
  background: rgba(67,81,116,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 485px;
  overflow: hidden;
}
.v2_24 {
  width: 702px;
  height: 53px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 0px;
  overflow: hidden;
}
.v2_26 {
  width: 222px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 529px;
  left: 243px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_27 {
  width: 702px;
  height: 20px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 0px;
  overflow: hidden;
}
.v2_31 {
  width: 34px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 586px;
  left: 302px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v2_37 {
  width: 200px;
  height: 170px;
  background: rgba(38,38,38,1);
  color: white;
  opacity: 1;
  position: fixed;
  top: 616px;
  left: 9px;
  overflow: hidden;
}
.v2_39 {
  width: 200px;
  height: 170px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: fixed;
  color: white;
  top: 616px;
  left: 494px;
  overflow: hidden;
}
.v2_40 {
  width: 200px;
  height: 170px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: fixed;
  color: white;
  top: 616px;
  left: 247px;
  overflow: hidden;
}
